<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('head'); %>
        <style>
            .abs-center {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh;
            }
        </style>
</head>

<body>
    <div class="container">
        <div class="abs-center">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Pagina no
                        Encontrada</p>
                    <p class="text-gray-500 mb-0">Parece que entraste a
                        una dirección erronea...</p>
                    <a href="/"> Volver a la pagina
                        principal</a>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

</body>

</html>